<form class="row">
        <div class="d-flex flex-row">
            
            <i class="bi bi-bookmark-check align-middle"></i>
            <div class="mb-3 ms-3">
                <label for="estimation" class="form-label">Estimation</label>
                <div class="d-flex justify-content-around">
                    <input type="text" id="estimation" class="form-control me-4" placeholder="Estimation">
                </div>
            </div>
        </div>
      <fieldset class="d-flex flex-row" disabled>
        <i class="bi bi-card-text align-middle"></i>
        <div class="mb-3 ms-3 flex-fill">
            <label for="disabledSelect" class="form-label">Explanation</label>
            <textarea class="form-control" placeholder="Explanation..." id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
      </fieldset>
</form>