<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">AI Issue Assistant</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <estimation-form></estimation-form>
            </div>
            <div class="modal-footer align-items-start">
              <div>
                <button type="submit" class="btn btn-primary">Apply</button>
                <p>Tip: ctrl + enter</p>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
          <div class="col-md-4 chat-box-container" id="collapseOne">
             <vertical-accordion></vertical-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- https://stackoverflow.com/questions/35933924/bootstrap-accordion-collapsing-horizontally -->