<div class="white-bg">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="modal-body d-flex position-relative">
                            <estimation-form class="mb-3"></estimation-form>
                          <div class="d-flex flex-column ms-3 justify-content-around align-items-center">
                          </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
