<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="modal-header">

                            <h5 class="modal-title" id="exampleModalLabel">Minera Issue Assistant</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex position-relative">
                            <estimation-form></estimation-form>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <vertical-accordion></vertical-accordion>
                            <div>
                                <button *ngIf="loading" class="btn btn-primary me-2" type="button" disabled>
                  <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
                  <span role="status">Loading...</span>
                </button>
                                <button *ngIf="!loading" type="submit" class="btn btn-primary me-2">Apply</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>